%header.main-header
  %nav.header-nav
    %ul.main-menu
      %li
        %a Home
      %li.has-menu
        %a Categories
        %ul.secondary-menu
          %li
            %a Anniversary
          %li
            %a Birthday
          %li
            %a Congratulations
          %li
            %a Holiday
      %li
        %a Favorites
  .search-bar
    %input.header-search{ type: 'search', placeholder: 'bonne nuit' }
    %button.btn-search{ type: 'search' } Search
