@import 'partials/colors';
@import 'partials/transitions';
.main-header {
    padding: 5px;
    background: $lightBlue;
    &:before,
    &:after {
        display: block;
    }
    &:after {
        content: '';
        clear: both;
    }
}

nav.header-nav {
    float: left;
    margin: 0 auto;
    max-width: 800px;
}

.main-menu {
    display: inline-block;
    margin: 0;
    >li {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        color: $eggShell;
        &:after {
            position: absolute;
            top: 100%;
            left: 10%;
            right: 0;
            content: ' ';
            width: 0;
            height: 2px;
            background: black;
            box-shadow: 2px 2px 10px #000;
            transition: width $fastEaseIn;
        }
        &:hover,
        &:focus {
            text-shadow: 1px 1px 5px #000;
            &:after {
                width: 80%;
            }
        }
        &.has-menu {
            ul {
                display: none;
                position: absolute;
                top: 105%;
                padding: 0;
                background: $mildRed;
                border: rgb(87, 20, 20);
                box-shadow: 0 2px 5px #888;
                z-index: 100;
            }
            &:hover,
            &:focus {
                ul {
                    display: inline-block;
                    li {
                        display: block;
                        padding: 10px;
                        border-top: 2px outset transparent;
                        border-bottom: 2px inset transparent;
                        &:hover,
                        &:focus {
                            background: #fff;
                            color: $mildRed;
                            text-shadow: none;
                            border-top-color: darken($mildRed, 10%);
                            border-bottom-color: darken($mildRed, 10%);
                        }
                    }
                }
            }
        }
    }
}

.search-bar {
    float: right;
}

input.header-search {
    display: inline-block;
    padding: 6px 8px;
    font-size: 16px;
    color: #888;
    background: #ddd;
    border-radius: 3px;
    border: 1px solid #777;
    &:focus,
    &:active {
        background: #f9f9f9;
    }
}

button.btn-search {
    display: inline-block;
    background: $eggShell;
    padding: 5px 10px;
    font-size: 16px;
    color: $blue;
    border: 1px solid #2B2BB9;
    border-radius: 3px;
    &:active,
    &:hover,
    &:focus {
        background: darken($eggShell, 10%);
        color: darken($blue, 5%);
    }
}