@import 'partials/colors';
@import 'partials/transitions';
.main-header {
    padding: 5px;
    background: $lightBlue;
    a {
        color: #fff;
    }
    &:before,
    &:after {
        display: block;
    }
    &:after {
        content: '';
        clear: both;
    }
}

.main-menu {
    float: left;
    padding: 0;
    margin: 0;
    >li {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        a {
            color: $eggShell;
            text-decoration: none;
        }
        &:after {
            position: absolute;
            top: 100%;
            left: 10%;
            right: 0;
            content: ' ';
            width: 0;
            height: 2px;
            background: black;
            box-shadow: 2px 2px 10px #000;
            transition: width $fastEaseIn;
        }
        &:hover,
        &:focus {
            text-shadow: 1px 1px 5px #000;
            &:after {
                width: 80%;
            }
        }
        &.has-menu {
            ul {
                display: none;
                position: absolute;
                top: 120%;
                padding: 0;
                background: $orange;
                border: rgb(87, 20, 20);
                box-shadow: 0 2px 5px #888;
                z-index: 100;
            }
            &:hover,
            &:focus {
                ul {
                    display: inline-block;
                    li {
                        display: block;
                        padding: 10px;
                        border-top: 2px outset transparent;
                        border-bottom: 2px inset transparent;
                        &:hover,
                        &:focus {
                            background: #fff;
                            text-shadow: none;
                            border-top-color: $darkOrange;
                            border-bottom-color: $darkOrange;
                            a {
                                color: $darkOrange;
                            }
                        }
                    }
                }
            }
        }
    }
}

.right-nav-bar {
    float: right;
}

input.header-search {
    display: inline-block;
    padding: 6px 8px;
    font-size: 1rem;
    color: #888;
    background: #ddd;
    border-radius: 3px;
    border: 1px solid #777;
    margin: 0 5px;
    &:focus,
    &:active {
        background: #f9f9f9;
    }
}

button.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    &.btn-search {
        background: $eggShell;
        color: $blue;
        border: 1px solid $borderBlue;
        &:active,
        &:hover,
        &:focus {
            background: darken($eggShell, 10%);
            color: darken($blue, 5%);
        }
    }
}