html {
    font: normal 16px 'Helvetica', 'sans-serif';
}

h1 {
    font-size: 1.3rem;
    margin: 7px 0 12px;
}

h2 {
    font-size: 1.2rem;
    margin: 5px 0 10px;
}

h3 {
    font-size: 1.1rem;
    margin: 5px 0 8px;
}

body {
    padding: 0;
    margin: 0;
}

main {
    background: #dedede;
}

.container {
    max-width: 1024px;
    padding: 5px 10px;
    margin: 0 auto;
}

.cf {
    &:before,
    &:after {
        display: block;
        content: '';
    }
    &:after {
        clear: both;
    }
}